{{!-- dashboard page showing us goals, progress, and priority (upcoming) tasks--}}
<div class="header">
  <a href="dashboard.handlebars">
    <img id="logo" src="/images/logo.png" alt="logo">
  </a>
  <h1>ACCOUNTABILIBUDDY</h1>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark pl-5">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/dashboard">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/completed-goals">Completed Goals </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/api/logout">Sign Out</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <br>
  <div class="row">

  </div>
  <br>

  <div class="row">

    <div id="priorityTasks" class="priorityTasks col-lg-5">
      <br>
      <p class="leading">Priority Tasks</p>
      <br>
      <ul>
        {{#each tasks}}
        <li>
          <p class="ptask"><b>Task #{{ id }}:</b> {{ description }}<button type="submit" data-taskid="{{ id }}"
              class="signBtn1 col-lg-1 p-0 m-0 taskdone">✅</button></p>
        </li>
        {{/each}}
      </ul>
      <br>
    </div>

    <div class="col-lg-2"></div>

    <br>

    <div class="add-goal col-lg-5">
      <br>
      <p class="leading">Add a Goal</p>
      <br>
      <form action="/api/goal" method="POST">
        <textarea type="text" name="description" id="textInput" class="textInput"></textarea>
        <br><br>
        <button type="submit" class="signBtn">Add Goal!</button>
      </form>
      <br>
    </div>

  </div>

  <br>
  <div class="row">

  </div>
  <br>

  <div class="row">

    <div id="myProgress" class="myProgress col-lg-12">
      <br>
      <p class="leading">Goals</p>
      <br>
      <div class="row">
        <div class="col-lg-12">
          {{#each goals}}
          <p id="myBar" class="goalTime col-lg-12">&bull; {{description}}
            <button type="submit" data-goalid="{{ id }}" class="signBtn1 goaldelete p-0 mr-1 ml-1">❌</button>
            <button type="submit" data-goalid="{{ id }}" class="signBtn1 goaldone p-0 mr-1 ml-1">✅</button>
            <button type="submit" class="signBtn1 p-0 mr-1 ml-1"><a class="viewtask"
                href="/:{{ id }}/tasks">&#128065;</a></button>
            
            

          </p>

          {{/each}}
        </div>
      </div>

    </div>

  </div>

  <br>
</div>

<div class="footer">

  <p>© Copyright 2019</p>

</div>